main.login {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 2em;
}

main.login button, button {
    background-color: #4CAF50;
    color: #fff;
}